@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>What's For Dinner Login</title> <!--#Model.userName-->

</head>
<body>

    <div class="container">
        <form id="loginForm" class="form-signin" action="../Login/SubmitAction" method="POST">
            <h2 class="form-signin-heading">Sign in</h2>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" id="loginBtn" type="submit">Sign in</button>

            @if (ViewBag.Message != null)
            {
                <p>@ViewBag.Message</p>
            }

            <p>@Html.ActionLink("Register as a new user", "Register")</p>

        </form>
    </div> <!-- /container -->

</body>
</html>