@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>Some title</title> <!--#Model.userName-->
</head>
<body>

    <div>
        <!--Placeholder for implementing a mismatch reply message if the username and pw are not in sync-->
    </div>

    <div class="container">
        <form id="loginForm" class="form-signin" action="../Login/SubmitRegister" method="POST">
            <h2 class="form-signin-heading">Create an account</h2>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input name="name" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" id="loginBtn" type="submit">Register</button>

            @if (ViewBag.Message != null)
            {
                <p>@ViewBag.Message</p>
            }
            
            <p>@Html.ActionLink("Nevermind, back to login", "Index")</p>

        </form>

    </div> <!-- /container -->

</body>
</html>